* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
   
  
}

.preciodescuento {
    display:flex;
}

article i {
    display: block;
font-size: 16px;
padding: 5px;
width: 30px;
height: 30px;
border: 1px solid #39b54a;
background-color: #FFF;
border-radius: 50%;
position: absolute;
bottom:55px;
right:20px;
transition: all 1s;

}

main article:hover i {
    transform: rotateZ(-90deg);
} 


.preciodescuento p {
    width:30%;
}

.preciodescuento p p{
    width:70%;
}

main {
    margin: auto;
    width: 90%;
}

.divideheader {
    display:flex;
    align-items: center;
    padding-top: 25px;;
}


.dividepc {
    display:inline;
}

.divideheader img {
    width:50%;
}

.divideheader nav div {
    width:50%;
}

.divideheader nav div input {
    margin-left: 10px;
    width:40vw;
    height: 3vh;
    text-align: center;
    border-radius: 10px 10px 10px 10px /10px 10px 10px 10px;
}

main section {
    text-align: center;
}

 section article {
    text-align: center;
    margin-top: 10px;
    display: inline-block;
    margin: 10px;
    position:relative;
}


main section h1 {
    text-align: center;
}

.cajabordetop {
    border-top: 1px solid #ebebeb;
    padding: 15px;
}

header{
    background-color: #EAC926;
}

header img {
    width: 45vw;
    height: auto;
}

p {
    font-size: 12px;
}

.titulares {
    font-size: 24px;
    padding-top: 10px;
}

.precios {
    font-size: 18px;
    flex-grow: 0.3;
}

.descuentos {
    font-size:16px;
    color:#39b54a;

}

.descripciones {
    display:none;
    transition: all 2s;
    
}

main article:hover .descripciones{
    display:inline;
}

ul li a {
    text-decoration:none;
    color: #03264C;
}

#textoheader {
    font-size:1rem;
    font-weight: bold;
    margin:20px;
}

ul li {
    list-style: none;
}

.cajahamb i{
    color:white;
    font-size:20px;
    background-color: #1259c3;
    padding: 10px;
    border-radius: 20%;
}


.cajahamb {
    text-align: center;
    padding-bottom: 15px;;
    
}

article img {
    width: 70%;
    height: auto;
}

.centico {
    text-align: center;
    
}

footer {
    text-align: center;
}

footer i {
    font-size:2em;
    margin-bottom:10px;
    color: #1259c3;
}

footer p {
    font-size:16px;
}

#comprador {
    display:block;
}


.barranav {
    display:none;
}

main article{
    transition: all 0.5s;
    width: 80%;
}

main article:hover .descripciones {
    display:inline;
    
    
}





main article:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}


.form {
    text-align: center;
    margin:auto;
    background-color:lightgrey;
    width:100%;
    margin-bottom: 10px;
    
}

.form div{
    padding:10px;
    text-align: center;
}

.form div label {
    font-weight: bold;
    
    
}

.form div input {
    display:block;
    margin:auto;
    
}




@media (min-width: 680px){

    nav ul {
        display:inline;
    }

.descripciones {
    font-size:16px;
    display: inline;
    
} 

main article{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    width: 45%;
}

.cajahamb {
    display: none;
    
}

article img {
    width: 70%;
    height: auto;
}

.dividepc {
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}

.divideheader img {
    width:30%;
}

.divideheader nav div {
    width:30%;
}

nav div input {
    width:30%;
}

.navegacion {
    display:flex;
    justify-content: space-around;
}

.navegacion ul {
    display:flex;

}

.navegacion ul li {
    padding:20px;
}

.barranav {
    display:inline-block;
}

.form div input{
    width:40vw;
    height:40px;
    -webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 5px;
font-size:1.2rem;
}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.checkbox input {
    width:20px;
    margin:20px;
}

.botones {
    display:flex;
    justify-content: center;
   
}

.botones div input {
    width:150px;
    
}

.botones div input:hover{
    width:150px;
    animation: mymove 1s ;
    animation-fill-mode: forwards;
    position:relative;
}

@keyframes mymove {
    from {width: 150px;}
    to {width: 170px;}
    from {height: 36px;}
    to {height: 50px;}
  }



}


@media (min-width: 769px){

    main article{
 
        width: 23%;
    }
    
    article img {
        width: 80%;
        height: auto;
        padding:15px;
    }

}